{% extends 'game/layout.html' %}
{% block body %}
<div class="container">
    <h2>About this Site</h2>
    <p>
    Hex-online.net is the best place to play <a href="https://en.wikipedia.org/wiki/Hex_(board_game)">Hex</a> against your friends over the internet. Includes time control and customizable settings for how
    much time each player has and who goes first.
    </p>
    <h2>Why did I make this</h2>
    <p>
    Mostly as a fun programming challenge. Also, I wasn't completely satisfied with the user interface of existing Hex websites. I think hex-online 
    improves on a lot of them.
    I also submitted an earlier version of this project as my final project for 
    <a href="https://www.edx.org/course/cs50s-web-programming-with-python-and-javascript">CS50's Web Programming with Python and JavaScript</a>.
    </p>
    <h2>How to use</h2>
    <p>
    Simply register by choosing a user name and a password. Your opponent also needs to register and then one of you can create a game and the 
    other can join. (You probably won't find random opponents, so it's best to arrange with a friend.)
    </p>
    <h2>Source Code</h2>
    <p>
    The source code for the project can be found on <a href="https://github.com/cmacho/hex">Github</a>.
    </p>
</div>
{% endblock %}
