{% extends 'game/layout.html' %}
{% load static %}

{% block body %}
    <div> Game {{ game_id }}</div>
    <div id='game-div'></div>
    <!-- Load React. -->
    <!-- Note: when deploying, replace "development.js" with "production.min.js". --> <!-- TODO -->
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script type="text/babel" src='{% static 'game/Game.js' %}'></script>
    <script type="text/babel">
        // React Stuff
        console.log('hello from script');
        const domContainer = document.querySelector('#game-div');
        const stage = {{ stage }};
        const player1_id = {{ player1.pk }};
        const player1_name = '{{ player1.username }}';
        {% if player2 %}
            const player2_id = {{ player2.pk }};
            const player2_name = '{{ player2.username }}';
        {% else %}
            const player2_id = null;
            const player2_name = null;
        {% endif %}
        {% if player1color %}
            const player1color = {{ player1color }};
        {% else %}
            const player1color = null;
        {% endif %}
        const moves = []
        {% for move in moves %}
            moves.push({
                move_num: {{ move.move_num }},
                x: {{ move.x }},
                y: {{ move.y }},
                player: {{ move.player}}
            })
        {% endfor %}
        const color_selection_mode = {{ color_selection_mode }};
        const game_id = {{ game_id }};
        {% if request.user.is_authenticated %}
            const my_user_id = {{ request.user.id }};
        {% else %}
            const my_user_id = null;
        {% endif %}
        {% if winner %}
            const winner = {{ winner }};
        {% else %}
            const winner = null;
        {% endif %}
        {% if cake_cutter %}
            const cake_cutter = {{cake_cutter}};
        {% else %}
            const cake_cutter = null;
        {% endif %}
        {% if player1_ready %}
            const player1_ready = true;
        {% else %}
            const player1_ready = false;
        {% endif %}
        {% if player2_ready %}
            const player2_ready = true;
        {% else %}
            const player2_ready = false;
        {% endif %}
        {% if use_time_control %}
            const use_time_control = true;
        {% else %}
            const use_time_control = false;
        {% endif %}
        {% if resigned %}
           const resigned = {{resigned}};
        {% else %}
            const resigned = null;
        {% endif %}
        {% if out_of_time %}
            const out_of_time = {{out_of_time}};
        {% else %}
            const out_of_time = null;
        {% endif %}
        const seconds_used_p1 = {{seconds_used_p1}};
        const seconds_used_p2 = {{seconds_used_p2}};
        const total_time_player1 = {{total_time_player1}};
        const total_time_player2 = {{total_time_player2}};
        const seconds_current_move = {{seconds_current_move}};
        const time_per_player = {{time_per_player}};
        const time_increment = {{time_increment}};
        ReactDOM.render(
            <Game
                stage = {stage}
                player1_id = {player1_id}
                player2_id = {player2_id}
                player1_name = {player1_name}
                player2_name = {player2_name}
                player1color = {player1color}
                color_selection_mode = {color_selection_mode}
                moves = {moves}
                game_id = {game_id}
                my_user_id = {my_user_id}
                winner = {winner}
                cake_cutter = {cake_cutter}
                player1_ready = {player1_ready}
                player2_ready = {player2_ready}
                seconds_used_p1 = {seconds_used_p1}
                seconds_used_p2 = {seconds_used_p2}
                seconds_current_move = {seconds_current_move}
                use_time_control = {use_time_control}
                time_per_player = {time_per_player}
                time_increment = {time_increment}
                total_time_player1 = {total_time_player1}
                total_time_player2 = {total_time_player2}
                resigned = {resigned}
                out_of_time = {out_of_time}
            />,
            domContainer
       );
    </script>
{% endblock %}

