{% extends 'game/layout.html' %}

{% block body %}
<div class="container-md">

    <ul id="grid">
        <li class="row-left">
            <div class="hexagon hidden" style="background-color: red;"></div>
        </li>
        <li class="row-left">
            <div class="hexagon hidden" style="background-color: red;"></div>
        </li>
        <li class="row-left">
            <div class="hexagon hidden" style="background-color: red;"></div>
        </li>
        <li class="row-left">
            <div class="hexagon hidden" style="background-color: red;"></div>
        </li>
        <li class="row-left">
            <div class="hexagon hidden" style="background-color: red;"></div>
        </li>
        <li class="row-left">
            <div class="hexagon hidden" style="background-color: red;"></div>
        </li>
        <li class="row-left">
            <div class="hexagon hidden" style="background-color: red;"></div>
        </li>
        <li class="row-left">
            <div class="hexagon hidden" style="background-color: red;"></div>
        </li>
        <li class="row-left">
            <div class="hexagon hidden" style="background-color: red;"></div>
        </li>
        <li class="row-left">
            <div class="hexagon hidden" style="background-color: red;"></div>
        </li>
        <li class="row-left">
            <div class="hexagon hidden" style="background-color: red;"></div>
        </li>
        <li class="row-left">
            <div class="hexagon hidden" style="background-color: red;"></div>
        </li>
        <li class="row-left">
            <div class="hexagon hidden" style="background-color: red;"></div>
        </li>
        <li class="row-left">
            <div class="hexagon hidden" style="background-color: red;"></div>
        </li>
        <li class="row-left">
            <div class="hexagon hidden" style="background-color: red;"></div>
        </li>
        <li class="row-left">
            <div class="hexagon hidden" style="background-color: red;"></div>
        </li>
        <li class="row-right">
            <div class="hexagon hidden" style="background-color: blue;"></div>
        </li>
        <li class="row-right">
        <div class="hexagon" style="background-color: blue;"></div>
        </li>
        <li class="row-right">
            <div class="hexagon" style="background-color: blue;"></div>
        </li>
        <li class="row-right">
        <div class="hexagon hidden" style="background-color: blue;"></div>
        </li>
        <li class="row-right">
            <div class="hexagon" style="background-color: blue;"></div>
        </li>
        <li class="row-right">
        <div class="hexagon" style="background-color: blue;"></div>
        </li>
        <li class="row-right">
            <div class="hexagon hidden" style="background-color: blue;"></div>
        </li>
        <li class="row-right">
        <div class="hexagon" style="background-color: blue;"></div>
        </li>
        <li class="row-right">
            <div class="hexagon" style="background-color: blue;"></div>
        </li>
        <li class="row-right">
        <div class="hexagon" style="background-color: blue;"></div>
        </li>
        <li class="row-right">
            <div class="hexagon hidden" style="background-color: blue;"></div>
        </li>
        <li class="row-right">
        <div class="hexagon" style="background-color: blue;"></div>
        </li>
        <li class="row-right">
            <div class="hexagon hidden" style="background-color: blue;"></div>
        </li>
        <li class="row-right">
        <div class="hexagon hidden" style="background-color: blue;"></div>
        </li>
        <li class="row-right">
            <div class="hexagon" style="background-color: blue;"></div>
        </li>
        <li class="row-right">
        <div class="hexagon hidden" style="background-color: blue;"></div>
        </li>
        <li class="row-left">
            <div class="hexagon hidden" style="background-color: red;"></div>
        </li>
        <li class="row-left">
            <div class="hexagon hidden" style="background-color: red;"></div>
        </li>
        <li class="row-left">
            <div class="hexagon" style="background-color: red;"></div>
        </li>
        <li class="row-left">
            <div class="hexagon hidden" style="background-color: red;"></div>
        </li>
        <li class="row-left">
            <div class="hexagon hidden" style="background-color: red;"></div>
        </li>
        <li class="row-left">
            <div class="hexagon" style="background-color: red;"></div>
        </li>
        <li class="row-left">
            <div class="hexagon hidden" style="background-color: red;"></div>
        </li>
        <li class="row-left">
            <div class="hexagon" style="background-color: red;"></div>
        </li>
        <li class="row-left">
            <div class="hexagon hidden" style="background-color: red;"></div>
        </li>
        <li class="row-left">
            <div class="hexagon hidden" style="background-color: red;"></div>
        </li>
        <li class="row-left">
            <div class="hexagon hidden" style="background-color: red;"></div>
        </li>
        <li class="row-left">
            <div class="hexagon hidden" style="background-color: red;"></div>
        </li>
        <li class="row-left">
            <div class="hexagon" style="background-color: red;"></div>
        </li>
        <li class="row-left">
            <div class="hexagon hidden" style="background-color: red;"></div>
        </li>
        <li class="row-left">
            <div class="hexagon" style="background-color: red;"></div>
        </li>
        <li class="row-left">
            <div class="hexagon hidden" style="background-color: red;"></div>
        </li>
        <li class="row-right">
            <div class="hexagon hidden" style="background-color: blue;"></div>
        </li>
        <li class="row-right">
        <div class="hexagon hidden" style="background-color: blue;"></div>
        </li>
        <li class="row-right">
            <div class="hexagon" style="background-color: blue;"></div>
        </li>
        <li class="row-right">
        <div class="hexagon" style="background-color: blue;"></div>
        </li>
        <li class="row-right">
            <div class="hexagon" style="background-color: blue;"></div>
        </li>
        <li class="row-right">
        <div class="hexagon hidden" style="background-color: blue;"></div>
        </li>
        <li class="row-right">
            <div class="hexagon hidden" style="background-color: blue;"></div>
        </li>
        <li class="row-right">
        <div class="hexagon" style="background-color: blue;"></div>
        </li>
        <li class="row-right">
            <div class="hexagon" style="background-color: blue;"></div>
        </li>
        <li class="row-right">
        <div class="hexagon hidden" style="background-color: blue;"></div>
        </li>
        <li class="row-right">
            <div class="hexagon hidden" style="background-color: blue;"></div>
        </li>
        <li class="row-right">
        <div class="hexagon hidden" style="background-color: blue;"></div>
        </li>
        <li class="row-right">
            <div class="hexagon" style="background-color: blue;"></div>
        </li>
        <li class="row-right">
        <div class="hexagon" style="background-color: blue;"></div>
        </li>
        <li class="row-right">
            <div class="hexagon hidden" style="background-color: blue;"></div>
        </li>
        <li class="row-right">
        <div class="hexagon hidden" style="background-color: blue;"></div>
        </li>

        <li class="row-left">
            <div class="hexagon hidden" style="background-color: red;"></div>
        </li>
        <li class="row-left">
            <div class="hexagon hidden" style="background-color: red;"></div>
        </li>
        <li class="row-left">
            <div class="hexagon" style="background-color: red;"></div>
        </li>
        <li class="row-left">
            <div class="hexagon hidden" style="background-color: red;"></div>
        </li>
        <li class="row-left">
            <div class="hexagon hidden" style="background-color: red;"></div>
        </li>
        <li class="row-left">
            <div class="hexagon" style="background-color: red;"></div>
        </li>
        <li class="row-left">
            <div class="hexagon hidden" style="background-color: red;"></div>
        </li>
        <li class="row-left">
            <div class="hexagon" style="background-color: red;"></div>
        </li>
        <li class="row-left">
            <div class="hexagon hidden" style="background-color: red;"></div>
        </li>
        <li class="row-left">
            <div class="hexagon hidden" style="background-color: red;"></div>
        </li>
        <li class="row-left">
            <div class="hexagon hidden" style="background-color: red;"></div>
        </li>
        <li class="row-left">
            <div class="hexagon hidden" style="background-color: red;"></div>
        </li>
        <li class="row-left">
            <div class="hexagon" style="background-color: red;"></div>
        </li>
        <li class="row-left">
            <div class="hexagon hidden" style="background-color: red;"></div>
        </li>
        <li class="row-left">
            <div class="hexagon" style="background-color: red;"></div>
        </li>
        <li class="row-left">
            <div class="hexagon hidden" style="background-color: red;"></div>
        </li>

        <li class="row-right">
            <div class="hexagon hidden" style="background-color: blue;"></div>
        </li>
        <li class="row-right">
        <div class="hexagon" style="background-color: blue;"></div>
        </li>
        <li class="row-right">
            <div class="hexagon" style="background-color: blue;"></div>
        </li>
        <li class="row-right">
        <div class="hexagon hidden" style="background-color: blue;"></div>
        </li>
        <li class="row-right">
            <div class="hexagon" style="background-color: blue;"></div>
        </li>
        <li class="row-right">
        <div class="hexagon" style="background-color: blue;"></div>
        </li>
        <li class="row-right">
            <div class="hexagon hidden" style="background-color: blue;"></div>
        </li>
        <li class="row-right">
        <div class="hexagon" style="background-color: blue;"></div>
        </li>
        <li class="row-right">
            <div class="hexagon" style="background-color: blue;"></div>
        </li>
        <li class="row-right">
        <div class="hexagon" style="background-color: blue;"></div>
        </li>
        <li class="row-right">
            <div class="hexagon hidden" style="background-color: blue;"></div>
        </li>
        <li class="row-right">
        <div class="hexagon" style="background-color: blue;"></div>
        </li>
        <li class="row-right">
            <div class="hexagon hidden" style="background-color: blue;"></div>
        </li>
        <li class="row-right">
        <div class="hexagon hidden" style="background-color: blue;"></div>
        </li>
        <li class="row-right">
            <div class="hexagon" style="background-color: blue;"></div>
        </li>
        <li class="row-right">
        <div class="hexagon hidden" style="background-color: blue;"></div>
        </li>

        <li class="row-left">
            <div class="hexagon hidden" style="background-color: red;"></div>
        </li>
        <li class="row-left">
            <div class="hexagon hidden" style="background-color: red;"></div>
        </li>
        <li class="row-left">
            <div class="hexagon hidden" style="background-color: red;"></div>
        </li>
        <li class="row-left">
            <div class="hexagon hidden" style="background-color: red;"></div>
        </li>
        <li class="row-left">
            <div class="hexagon hidden" style="background-color: red;"></div>
        </li>
        <li class="row-left">
            <div class="hexagon hidden" style="background-color: red;"></div>
        </li>
        <li class="row-left">
            <div class="hexagon hidden" style="background-color: red;"></div>
        </li>
        <li class="row-left">
            <div class="hexagon hidden" style="background-color: red;"></div>
        </li>
        <li class="row-left">
            <div class="hexagon hidden" style="background-color: red;"></div>
        </li>
        <li class="row-left">
            <div class="hexagon hidden" style="background-color: red;"></div>
        </li>
        <li class="row-left">
            <div class="hexagon hidden" style="background-color: red;"></div>
        </li>
        <li class="row-left">
            <div class="hexagon hidden" style="background-color: red;"></div>
        </li>
        <li class="row-left">
            <div class="hexagon hidden" style="background-color: red;"></div>
        </li>
        <li class="row-left">
            <div class="hexagon hidden" style="background-color: red;"></div>
        </li>
        <li class="row-left">
            <div class="hexagon hidden" style="background-color: red;"></div>
        </li>
        <li class="row-left">
            <div class="hexagon hidden" style="background-color: red;"></div>
        </li>

        <li class="row-right">
            <div class="hexagon hidden" style="background-color: red;"></div>
        </li>
        <li class="row-right">
        <div class="hexagon" style="background-color: red;"></div>
        </li>
        <li class="row-right">
            <div class="hexagon" style="background-color: red;"></div>
        </li>
        <li class="row-right">
        <div class="hexagon" style="background-color: blue;"></div>
        </li>
        <li class="row-right">
            <div class="hexagon" style="background-color: red;"></div>
        </li>
        <li class="row-right">
        <div class="hexagon" style="background-color: red;"></div>
        </li>
        <li class="row-right">
            <div class="hexagon" style="background-color: blue;"></div>
        </li>
        <li class="row-right">
        <div class="hexagon" style="background-color: red;"></div>
        </li>
        <li class="row-right">
            <div class="hexagon" style="background-color: red;"></div>
        </li>
        <li class="row-right">
        <div class="hexagon" style="background-color: blue;"></div>
        </li>
        <li class="row-right">
            <div class="hexagon" style="background-color: red;"></div>
        </li>
        <li class="row-right">
        <div class="hexagon" style="background-color: red;"></div>
        </li>
        <li class="row-right">
            <div class="hexagon" style="background-color: blue;"></div>
        </li>
        <li class="row-right">
        <div class="hexagon" style="background-color: red;"></div>
        </li>
        <li class="row-right">
            <div class="hexagon" style="background-color: red;"></div>
        </li>
        <li class="row-right">
        <div class="hexagon hidden" style="background-color: red;"></div>
        </li>

    </ul>
</div>
{% endblock %}
